* {
  box-sizing: border-box;
}
html {
  overflow: hidden;
}
body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}
#app {
  min-height: 100vh;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.btn, .btn--invite {
  position: relative;
  width: 200px;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  background: transparent;
  color: #2c3e50;
  border: 1px solid #2c3e50;
  border-radius: 5px;
  font-family: 'Michroma', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  transition: all 0.2s ease;
  text-decoration: none;
}
.btn:hover {
  background: #51667f;
  color: #fff;
}
.btn:disabled:hover {
  cursor: not-allowed;
  color: #2c3e50;
  background-color: #fff;
}
.btn:active {
  transform: translate(0px, 5px);
}
.btn:focus {
  box-shadow: 0 0 10px 1px blue;
}
.btn--start {
  background: linear-gradient(to bottom, transparent, black);
  color: #fff;
  border-color: #fff;
}
.btn--small {
  width: 150px;
}
.btn--sign {
  width: 100px;
  background-color: #fff;
  color: #2c3e50;
  border-width: 2px;
  font-size: 13px;
}
.btn--invite {
  margin-bottom: 20px;
}
.btn--invite:hover {
  box-shadow: 0 0 10px #5f5f5f;
}
.btn--blue {
  border: 1px solid #6eacf9;
  color: #6eacf9;
}
.btn--blue:hover:enabled {
  background-color: #6eacf9;
  color: #fff;
}
.btn--red {
  border: 1px solid rgb(255, 99, 71);
  color: rgb(255, 99, 71);
}
.btn--red:hover {
  background-color: rgb(255, 99, 71);
  color: #fff;
}
.fullHeight {
  min-height: 100vh;
}
.leaflet-container {
  background-color: #A3CCFF;
}
.leaflet-popup-content {
  text-align: center;
  font-size: 16px;
}
.leaflet-control-container .leaflet-top.leaflet-left,
.leaflet-control-container .leaflet-bottom.leaflet-right{
  display: none;
}
.bold {
  font-weight: bold;
  color: #107bff;
}
.guess_me {
  animation: guess 2s infinite;
}
.search__input {
  width: 200px;
  margin: 10px 0;
  padding: 5px 10px 5px 30px;
  border: 1px solid #2c3e50;
  outline: 0;
  border-radius: 5px;
  font: 15px 'Montserrat';
  transition: all 0.3s;
}
.search_icon {
  background-image: url("@/assets/images/search.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 5px center;
}
.search__input:focus {
  box-shadow: 0 0 10px #2c3e50;
}
@keyframes guess {
  0% {
    fill-opacity: 1;
  }
  25% {
    fill-opacity: 0;
  }
  50% {
    fill-opacity: 1;
  }
  75% {
    fill-opacity: 0
  }
  100% {
    fill-opacity: 1;
  }
}
@keyframes tiltup {
  0% {
    bottom: -400px;
    opacity: 0;
    transform: rotateX(-90deg);
    border-top: solid 40px;
  }
  30% {
    opacity: 0;
  }
  100% {
    bottom: 0;
  }
}
@keyframes tiltbottom {
  0% {
    bottom: 0;
  }
  100% {
    bottom: -400px; 
    opacity: 0; 
    transform: rotateX(-90deg);
    border-top: solid 40px;
  }
}
.dot_animation span {
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}
.dot_animation span:nth-child(2) {
  animation-delay: .2s;
}
.dot_animation span:nth-child(3) {
  animation-delay: .4s;
}
@keyframes blink {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}
.game_options {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  overflow: visible;
}
.option {
  color: #AAAAAA;
  display: block;
  position: relative;
  text-align: left;
}
.option__input {
  position: absolute;
  visibility: hidden;
}
.option__label {
  padding: 0;
  display: flex;
  font-weight: 300;
  margin: 10px;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}
.option:hover .option__label {
  color: #51667f;
}
.check {
  margin-right: 10px;
  display: block;
  position: relative;
  border: 3px solid #AAAAAA;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  transition: border .25s linear;
  -webkit-transition: border .25s linear;
}
.option:hover .check {
  border-color: #51667f;
}
.check::before {
  display: block;
  position: absolute;
  content: '';
  border-radius: 100%;
  height: 11px;
  width: 11px;
  top: 4px;
  left: 4px;
  margin: auto;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
}
.option__input:checked ~ .option__label .check {
  border-color: #51667f;
}
.option__input:checked ~ .option__label .check::before {
  background: #51667f;
}
.option__input:checked ~ .option__label {
  color: #51667f;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
.error {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 5px;
  font-size: 14px;
  background-color: tomato;
  color: #fff;
  opacity: 0;
  animation: opacityChanger 0.5s forwards;
}
.error--sign {
  top: -22px;
}
@keyframes opacityChanger {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}